<% 10.times do %>
<div id="beatingheart">

			<img src="http://www.animatedgif.net/love/beat_hea_e0.gif" width="30px">

		</div>

<% end %>

<%= "hi" + "there" %>


<%

array = ["7, 49"]

array.each { |x| puts x } 






 %>
