<h1> welcome <%= username %> rainbow</h1>




<div id="blue">
			<img src="http://media.tumblr.com/c5facebf6fb95f82894d781e861416ac/tumblr_inline_mpooml4fvM1qz4rgp.gif">

		</div>

		<div id="diamonddustgame">
			<img src="http://33.media.tumblr.com/879bf15818bbfd178df1914d35a8f09a/tumblr_mzietkaDg71rheorao3_400.gif" width="5000px">

		</div>

		


